# **Print Statement**

In [1]:
print("Hello World!!")
print(2 + 4)
print(67 * 22)

Hello World!!
6
1474

##Print using END Parameter

In [2]:
print("Hello World")
print("This is another print statement")

Hello World
This is another print statement

In [6]:
print("Hello World", end="joker")

Hello Worldjoker

In [7]:
print("This is a good language", end=" ")
print("Goodbye")

This is a good language Goodbye

In [8]:
print("Hello this is python.\nIt is a good language")

Hello this is python.
It is a good language

In [9]:
print("Hello this is python.\tIt is a good language")

Hello this is python.	It is a good language

# **Comments**

In [11]:
print("Hello Student.")
# I can write whatever I want to write
print("This is just a print statement.") # I can write this too
# This Is a comment and It will not execute

Hello Student.
This is just a print statement.

In [12]:
"""This is a comment
Date: 2 January 1996
Multi-line comment ends here
"""
print("Hello Student!!!")
# Remember this is Single Line Comment
print("I am learning Python.")

Hello Student!!!
I am learning Python.

# **02 legal variable name:**

In [13]:
# myname = "John Doe"
# name = "Jane Doe"
# _name1= "Jane Doe" # snake case writing style
# nameFirst = "Jane" # camel case writing style
# NameFirst = "Jane" # pascal case writing style
# name1st = "Jane"
# name-name = "Jane" # hyphenated writing style

In [14]:
a = "Hello World"
b = 23
c = 56.66
print(a)
print(b)
print(c)
print(b + c)

Hello World
23
56.66
79.66

In [15]:
#Assigning multiple variables in single line
a, b, c = "Hello World", 23, 56.66
print(a)
print(b)
print(c)
print(b + c)

Hello World
23
56.66
79.66

In [16]:
#Case sensitive
firstname = "Cristiano"
Firstname = "Melon Eusk"
print(firstname)
print(Firstname)

Cristiano
Melon Eusk

##You cannot use any Python keywords as your identifier name. Here are the
##Python keywords:
**False,** def, if, raise ,None
del, import, return, True, elif
in ,try ,and ,else, is
while as, except, lambda, with
assert, finally ,nonlocal, yield ,break
for ,not ,class ,from ,or
continue, global ,pass **bold text**

# **Data Types in Python**

In [17]:
# Integers are used to store whole numbers
age = 25
print(type(age))
print(age)

<class 'int'>
25

In [18]:
# Floating point numbers are used to store decimal numbers
height = 5.9
print(type(height))
print(height)

<class 'float'>
5.9

In [19]:
# Strings are used to store sequences of characters
name = "Alice"
print(type(name))
print(name)

<class 'str'>
Alice

In [20]:
# Booleans are used to store True/False values
is_student = True
print(type(is_student))
print(is_student)

<class 'bool'>
True

In [21]:
# None is used to represent the absence of a value
status = None
print(type(status))
print(status)

<class 'NoneType'>
None

In [23]:
# Lists are used to store multiple items in a single variable
fruits = ["apple", "banana", "cherry"]
print(type(fruits))
print(fruits)

<class 'list'>
['apple', 'banana', 'cherry']

In [24]:
# Tuples are used to store multiple items, but they are immutable (cannot be changed)
coordinates = (10.0, 20.0)
print(type(coordinates))
print(coordinates)

<class 'tuple'>
(10.0, 20.0)

In [25]:
# Sets are used to store multiple unique items in an unordered manner
unique_numbers = {1, 2, 3, 2}
print(type(unique_numbers))
print(unique_numbers)

<class 'set'>
{1, 2, 3}

In [26]:
# Dictionaries are used to store key-value pairs
person = {"name": "Alice", "age": 25, "city": "New York"}
print(type(person))
print(person)

<class 'dict'>
{'name': 'Alice', 'age': 25, 'city': 'New York'}

# **Typecasting**

In [27]:
# Typecasting in Python:
abc = 5
abc2 = '45'
abc3 = 55.95
xyz = 5.0
abc4 = int(abc2)
print(abc + abc4)
print(abc + int(abc2))
print(float(abc) + xyz)

50
50
10.0

# **Operators in Python**

![12.png]()

In [28]:
a= 20
b = 3
print(a + b, a - b, a * b, a / b)
print(a % b, a ** b, a // b)

23 17 60 6.666666666666667
2 8000 6

In [29]:
a, b, c, d, e = 30, 67, 32, 22, 45
print(a, b, c, d, e)
a += 5
b -= 53
c **= 3
d %= 10
e //= 3
print(a, b, c, d, e)

30 67 32 22 45
35 14 32768 2 15

In [30]:
a = 45
b = 23
print("a == b is", a == b)
print("a != b is", a != b)
print("a > b is", a > b)
print("a < b is", a < b)
print("a >= b is", a >= b)
print("a <= b is", a <= b)

a == b is False
a != b is True
a > b is True
a < b is False
a >= b is True
a <= b is False

In [31]:
a = 45
b = 23
print(a > 33 and b > 33)
print(a > 33 and b < 33)
print(a >= 45 and b <= 23)
print(a < 100 or b > 50)
print(a < 1 or b < 11)
print(a < 1 and b < 11)
print(not (a > 0 and b > 0))

False
True
True
True
False
False
False

# **Input Function**

In [32]:
# Input Function in Python:
print("Enter your name : ")
name = input() # It will take input from user
print("Your Name is", name) # It will show the name
xyz = input("Enter your age : ")
print("Your age is", xyz)

Enter your name :
Ali
Your Name is Ali
Enter your age : 25
Your age is 25

# **IF, ELSE and ELIF Conditions**

In [35]:
var1 = 5
var2 = 10
if var1 > var2:
    print("Var 1 is greater.")
else:
    print("Var 2 is greater.")
# Example no 2--------------------------------
var1 = 5
var2 = 5
if var1 > var2:
    print("Var 1 is greater.")
elif var2 > var1:
    print("Var 2 is greater.")
else:
    print("Both Are Equal")

Var 2 is greater.
Both Are Equal

In [41]:
a = 99
b = 33
c = 412
if  a > b and c > a:
    print("Both conditions are True")
elif a > b or a > c:
    print("At least one of the conditions is True")

Both conditions are True

In [42]:
a = 41
b = 33
c = 500
if a > b or a > c:
   print("At least one of the conditions is True")

At least one of the conditions is True

In [43]:
num = int(input("Enter a number: "))

if num > 0:
  print("Positive number")
elif num == 0:
  print("Zero")
else:
  print("Negative number")

Enter a number: 4
Positive number

# **WHILE LOOP**

In [44]:
count = 0
while count < 9:
   print("The count is : ", count)
   count = count + 1
print("Good bye!")

The count is :  0
The count is :  1
The count is :  2
The count is :  3
The count is :  4
The count is :  5
The count is :  6
The count is :  7
The count is :  8
Good bye!

In [ ]:
x = 1
while x == 1: # This shows an infinite loop
num = input("Enter a number :")
print("You entered: ", num)
print("Good bye!")

In [47]:
count = 0
while count < 9:
  if count == 3:
    break
  print('The count is:', count)
  count = count + 1
print("Good bye!")

The count is: 0
The count is: 1
The count is: 2
Good bye!

In [48]:
count = 0
while count < 9:
   count = count + 1
   if count == 4:
      continue
print('The count is:', count)

The count is: 9

# **List**

In [3]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# append()
my_list.append(6)
print("After append:", my_list)

# clear()
my_list.clear()
print("After clear:", my_list)

# Re-creating the list for further operations
my_list = [1, 2, 3, 4, 5]

# copy()
copied_list = my_list.copy()
print("Copied list:", copied_list)

# count()
count_of_2 = my_list.count(2)
print("Count of 2:", count_of_2)

# extend()
my_list.extend([6, 7])
print("After extend:", my_list)

# index()
index_of_3 = my_list.index(3)
print("Index of 3:", index_of_3)

# insert()
my_list.insert(2, 2.5)
print("After insert:", my_list)

# pop()
popped_element = my_list.pop()
print("After pop:", my_list, "Popped element:", popped_element)

# remove()
my_list.remove(2.5)
print("After remove:", my_list)

# reverse()
my_list.reverse()
print("After reverse:", my_list)

# sort()
my_list.sort()
print("After sort:", my_list)

# len()
length = len(my_list)
print("Length:", length)

# list concatenation
concatenated_list = my_list + [8, 9]
print("Concatenated list:", concatenated_list)

# list repetition
repeated_list = my_list * 2
print("Repeated list:", repeated_list)

# element in list
is_in_list = 3 in my_list
print("Is 3 in list:", is_in_list)

# element not in list
is_not_in_list = 10 not in my_list
print("Is 10 not in list:", is_not_in_list)

# min()
min_value = min(my_list)
print("Min value:", min_value)

# max()
max_value = max(my_list)
print("Max value:", max_value)

# sum()
sum_value = sum(my_list)
print("Sum of elements:", sum_value)

# list slicing
sliced_list = my_list[1:4]
print("Sliced list:", sliced_list)

# list slicing with step
sliced_list_with_step = my_list[::2]
print("Sliced list with step:", sliced_list_with_step)

After append: [1, 2, 3, 4, 5, 6]
After clear: []
Copied list: [1, 2, 3, 4, 5]
Count of 2: 1
After extend: [1, 2, 3, 4, 5, 6, 7]
Index of 3: 2
After insert: [1, 2, 2.5, 3, 4, 5, 6, 7]
After pop: [1, 2, 2.5, 3, 4, 5, 6] Popped element: 7
After remove: [1, 2, 3, 4, 5, 6]
After reverse: [6, 5, 4, 3, 2, 1]
After sort: [1, 2, 3, 4, 5, 6]
Length: 6
Concatenated list: [1, 2, 3, 4, 5, 6, 8, 9]
Repeated list: [1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
Is 3 in list: True
Is 10 not in list: True
Min value: 1
Max value: 6
Sum of elements: 21
Sliced list: [2, 3, 4]
Sliced list with step: [1, 3, 5]

# **Tuples**

In [51]:
# Defining a Tuple
my_tuple = (10, 20, 30, 20)

# Accessing Tuple Elements
print(my_tuple[1])  # Output: 20

# Tuples are Immutable
# my_tuple[1] = 25  # This will raise an error

# Tuple Methods
print(my_tuple.index(20))  # Returns the index of the first occurrence of 20 (Output: 1)

print(my_tuple.count(20))  # Returns the number of occurrences of 20 (Output: 2)

20
1
2

In [4]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

# count()
count_of_2 = my_tuple.count(2)
print("Count of 2:", count_of_2)

# index()
index_of_3 = my_tuple.index(3)
print("Index of 3:", index_of_3)

# len()
length = len(my_tuple)
print("Length:", length)

# max()
max_value = max(my_tuple)
print("Max value:", max_value)

# min()
min_value = min(my_tuple)
print("Min value:", min_value)

# sum()
sum_value = sum(my_tuple)
print("Sum of elements:", sum_value)

# tuple concatenation
tuple1 = (1, 2)
tuple2 = (3, 4)
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)

# tuple repetition
repeated_tuple = my_tuple * 3
print("Repeated tuple:", repeated_tuple)

# tuple slicing
sliced_tuple = my_tuple[1:3]
print("Sliced tuple:", sliced_tuple)

# tuple slicing with step
sliced_tuple_with_step = my_tuple[::2]
print("Sliced tuple with step:", sliced_tuple_with_step)

# tuple unpacking
a, b, c, d, e = my_tuple
print("Unpacked values:", a, b, c, d, e)

# nested tuples
nested_tuple = ((1, 2), (3, 4))
print("Nested tuple:", nested_tuple)

# tuple comprehension (using generator expression)
comprehension_tuple = tuple(x for x in range(5))
print("Tuple from comprehension:", comprehension_tuple)

Count of 2: 1
Index of 3: 2
Length: 5
Max value: 5
Min value: 1
Sum of elements: 15
Concatenated tuple: (1, 2, 3, 4)
Repeated tuple: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
Sliced tuple: (2, 3)
Sliced tuple with step: (1, 3, 5)
Unpacked values: 1 2 3 4 5
Nested tuple: ((1, 2), (3, 4))
Tuple from comprehension: (0, 1, 2, 3, 4)

# **Dictionaries**

In [2]:
# Creating a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}

# clear()
my_dict.clear()
print("After clear:", my_dict)

# Re-creating the dictionary for further operations
my_dict = {'a': 1, 'b': 2, 'c': 3}

# copy()
copied_dict = my_dict.copy()
print("Copied dictionary:", copied_dict)

# fromkeys()
keys = ['x', 'y', 'z']
new_dict = dict.fromkeys(keys, 0)
print("Fromkeys:", new_dict)

# get()
value = my_dict.get('b')
print("Get 'b':", value)

# items()
items = my_dict.items()
print("Items:", items)

# keys()
keys = my_dict.keys()
print("Keys:", keys)

# pop()
popped_value = my_dict.pop('b')
print("After pop 'b':", my_dict, "Popped value:", popped_value)

# popitem()
popped_item = my_dict.popitem()
print("After popitem:", my_dict, "Popped item:", popped_item)

# setdefault()
default_value = my_dict.setdefault('d', 4)
print("After setdefault 'd':", my_dict, "Default value:", default_value)

# update()
my_dict.update({'e': 5, 'f': 6})
print("After update:", my_dict)

# values()
values = my_dict.values()
print("Values:", values)

# len()
length = len(my_dict)
print("Length:", length)

# del
del my_dict['a']
print("After del 'a':", my_dict)

# key in dict
is_key_in_dict = 'c' in my_dict
print("Is 'c' in dictionary:", is_key_in_dict)

# key not in dict
is_key_not_in_dict = 'a' not in my_dict
print("Is 'a' not in dictionary:", is_key_not_in_dict)

# dict[key] = value
my_dict['g'] = 7
print("After adding 'g':", my_dict)

# dict1.update(dict2)
another_dict = {'h': 8, 'i': 9}
my_dict.update(another_dict)
print("After merging another_dict:", my_dict)

After clear: {}
Copied dictionary: {'a': 1, 'b': 2, 'c': 3}
Fromkeys: {'x': 0, 'y': 0, 'z': 0}
Get 'b': 2
Items: dict_items([('a', 1), ('b', 2), ('c', 3)])
Keys: dict_keys(['a', 'b', 'c'])
After pop 'b': {'a': 1, 'c': 3} Popped value: 2
After popitem: {'a': 1} Popped item: ('c', 3)
After setdefault 'd': {'a': 1, 'd': 4} Default value: 4
After update: {'a': 1, 'd': 4, 'e': 5, 'f': 6}
Values: dict_values([1, 4, 5, 6])
Length: 4
After del 'a': {'d': 4, 'e': 5, 'f': 6}
Is 'c' in dictionary: False
Is 'a' not in dictionary: True
After adding 'g': {'d': 4, 'e': 5, 'f': 6, 'g': 7}
After merging another_dict: {'d': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9}

# **Set**

In [1]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Adding an element
my_set.add(6)
print("After add:", my_set)

# Removing an element
my_set.remove(3)
print("After remove:", my_set)

# Discarding an element
my_set.discard(2)
print("After discard:", my_set)

# Popping an element
popped_element = my_set.pop()
print("After pop:", my_set, "Popped element:", popped_element)

# Clearing the set
my_set.clear()
print("After clear:", my_set)

# Re-creating the set for further operations
my_set = {1, 2, 3, 4, 5}
another_set = {4, 5, 6, 7, 8}

# Union
union_set = my_set.union(another_set)
print("Union:", union_set)

# Intersection
intersection_set = my_set.intersection(another_set)
print("Intersection:", intersection_set)

# Difference
difference_set = my_set.difference(another_set)
print("Difference:", difference_set)

# Symmetric Difference
symmetric_difference_set = my_set.symmetric_difference(another_set)
print("Symmetric Difference:", symmetric_difference_set)

# Subset
is_subset = {1, 2}.issubset(my_set)
print("Is subset:", is_subset)

# Superset
is_superset = my_set.issuperset({1, 2})
print("Is superset:", is_superset)

# Disjoint
is_disjoint = my_set.isdisjoint({6, 7})
print("Is disjoint:", is_disjoint)

# Copying the set
copied_set = my_set.copy()
print("Copied set:", copied_set)

# Updating the set
my_set.update({6, 7})
print("After update:", my_set)

# Intersection update
my_set.intersection_update({4, 5, 6, 7})
print("After intersection update:", my_set)

# Difference update
my_set.difference_update({6})
print("After difference update:", my_set)

# Symmetric difference update
my_set.symmetric_difference_update({5, 7})
print("After symmetric difference update:", my_set)

# Creating a frozenset
frozen_set = frozenset(my_set)
print("Frozen set:", frozen_set)

After add: {1, 2, 3, 4, 5, 6}
After remove: {1, 2, 4, 5, 6}
After discard: {1, 4, 5, 6}
After pop: {4, 5, 6} Popped element: 1
After clear: set()
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}
Is subset: True
Is superset: True
Is disjoint: True
Copied set: {1, 2, 3, 4, 5}
After update: {1, 2, 3, 4, 5, 6, 7}
After intersection update: {4, 5, 6, 7}
After difference update: {4, 5, 7}
After symmetric difference update: {4}
Frozen set: frozenset({4})

# **String**

In [5]:
# Creating a string
my_string = "Hello, World!"

# capitalize()
capitalized_string = my_string.capitalize()
print("Capitalized:", capitalized_string)

# casefold()
casefolded_string = my_string.casefold()
print("Casefolded:", casefolded_string)

# center()
centered_string = my_string.center(20, '*')
print("Centered:", centered_string)

# count()
count_l = my_string.count('l')
print("Count of 'l':", count_l)

# encode()
encoded_string = my_string.encode()
print("Encoded:", encoded_string)

# endswith()
ends_with = my_string.endswith('!')
print("Ends with '!':", ends_with)

# expandtabs()
tab_string = "Hello\tWorld"
expanded_tabs = tab_string.expandtabs(4)
print("Expanded tabs:", expanded_tabs)

# find()
find_o = my_string.find('o')
print("Find 'o':", find_o)

# format()
formatted_string = "Hello, {}!".format("Alice")
print("Formatted:", formatted_string)

# format_map()
formatted_map_string = "{name} is {age} years old".format_map({"name": "Alice", "age": 30})
print("Formatted map:", formatted_map_string)

# index()
index_o = my_string.index('o')
print("Index of 'o':", index_o)

# isalnum()
is_alnum = my_string.isalnum()
print("Is alnum:", is_alnum)

# isalpha()
is_alpha = my_string.isalpha()
print("Is alpha:", is_alpha)

# isascii()
is_ascii = my_string.isascii()
print("Is ASCII:", is_ascii)

# isdecimal()
is_decimal = "12345".isdecimal()
print("Is decimal:", is_decimal)

# isdigit()
is_digit = "12345".isdigit()
print("Is digit:", is_digit)

# isidentifier()
is_identifier = "hello_world".isidentifier()
print("Is identifier:", is_identifier)

# islower()
is_lower = my_string.islower()
print("Is lower:", is_lower)

# isnumeric()
is_numeric = "12345".isnumeric()
print("Is numeric:", is_numeric)

# isprintable()
is_printable = my_string.isprintable()
print("Is printable:", is_printable)

# isspace()
is_space = "   ".isspace()
print("Is space:", is_space)

# istitle()
is_title = "Hello World".istitle()
print("Is title:", is_title)

# isupper()
is_upper = my_string.isupper()
print("Is upper:", is_upper)

# join()
joined_string = "-".join(["Hello", "World"])
print("Joined:", joined_string)

# ljust()
left_justified = my_string.ljust(20, '*')
print("Left justified:", left_justified)

# lower()
lowered_string = my_string.lower()
print("Lowered:", lowered_string)

# lstrip()
left_stripped = "   Hello".lstrip()
print("Left stripped:", left_stripped)

# maketrans() and translate()
translation_table = str.maketrans("Helo", "1234")
translated_string = my_string.translate(translation_table)
print("Translated:", translated_string)

# partition()
partitioned_string = my_string.partition(',')
print("Partitioned:", partitioned_string)

# replace()
replaced_string = my_string.replace("World", "Python")
print("Replaced:", replaced_string)

# rfind()
rfind_o = my_string.rfind('o')
print("Reverse find 'o':", rfind_o)

# rindex()
rindex_o = my_string.rindex('o')
print("Reverse index of 'o':", rindex_o)

# rjust()
right_justified = my_string.rjust(20, '*')
print("Right justified:", right_justified)

# rpartition()
rpartitioned_string = my_string.rpartition(',')
print("Reverse partitioned:", rpartitioned_string)

# rsplit()
rsplit_string = my_string.rsplit(' ', 1)
print("Reverse split:", rsplit_string)

# rstrip()
right_stripped = "Hello   ".rstrip()
print("Right stripped:", right_stripped)

# split()
split_string = my_string.split(' ')
print("Split:", split_string)

# splitlines()
split_lines = "Hello\nWorld".splitlines()
print("Split lines:", split_lines)

# startswith()
starts_with = my_string.startswith('Hello')
print("Starts with 'Hello':", starts_with)

# strip()
stripped_string = "   Hello   ".strip()
print("Stripped:", stripped_string)

# swapcase()
swapped_case = my_string.swapcase()
print("Swap case:", swapped_case)

# title()
titled_string = my_string.title()
print("Titled:", titled_string)

# upper()
upper_string = my_string.upper()
print("Upper:", upper_string)

# zfill()
zero_filled = "42".zfill(5)
print("Zero filled:", zero_filled)

# String operations
# len()
length = len(my_string)
print("Length:", length)

# string concatenation
concatenated_string = my_string + " How are you?"
print("Concatenated:", concatenated_string)

# string repetition
repeated_string = my_string * 3
print("Repeated:", repeated_string)

# string indexing
char_at_index = my_string[1]
print("Character at index 1:", char_at_index)

# string slicing
sliced_string = my_string[1:5]
print("Sliced string:", sliced_string)

# string slicing with step
sliced_string_with_step = my_string[::2]
print("Sliced string with step:", sliced_string_with_step)

# character in string
is_char_in_string = 'H' in my_string
print("Is 'H' in string:", is_char_in_string)

# character not in string
is_char_not_in_string = 'Z' not in my_string
print("Is 'Z' not in string:", is_char_not_in_string)

Capitalized: Hello, world!
Casefolded: hello, world!
Centered: ***Hello, World!****
Count of 'l': 3
Encoded: b'Hello, World!'
Ends with '!': True
Expanded tabs: Hello   World
Find 'o': 4
Formatted: Hello, Alice!
Formatted map: Alice is 30 years old
Index of 'o': 4
Is alnum: False
Is alpha: False
Is ASCII: True
Is decimal: True
Is digit: True
Is identifier: True
Is lower: False
Is numeric: True
Is printable: True
Is space: True
Is title: True
Is upper: False
Joined: Hello-World
Left justified: Hello, World!*******
Lowered: hello, world!
Left stripped: Hello
Translated: 12334, W4r3d!
Partitioned: ('Hello', ',', ' World!')
Replaced: Hello, Python!
Reverse find 'o': 8
Reverse index of 'o': 8
Right justified: *******Hello, World!
Reverse partitioned: ('Hello', ',', ' World!')
Reverse split: ['Hello,', 'World!']
Right stripped: Hello
Split: ['Hello,', 'World!']
Split lines: ['Hello', 'World']
Starts with 'Hello': True
Stripped: Hello
Swap case: hELLO, wORLD!
Titled: Hello, World!
Upper: HELLO, WORLD!
Zero filled: 00042
Length: 13
Concatenated: Hello, World! How are you?
Repeated: Hello, World!Hello, World!Hello, World!
Character at index 1: e
Sliced string: ello
Sliced string with step: Hlo ol!
Is 'H' in string: True
Is 'Z' not in string: True

# **Function**

In [6]:
#Creating a function
def greeting():
  print("This is a greeting function")
  print("I am still in the greet function")
greeting()

This is a greeting function
I am still in the greet function

In [8]:
#Write a function that takes input from user and prints the length of a string.
def calculateLength():
   a = input("Enter any sentence = ")
   print(f"Length of sentence is {len(a)}")
calculateLength()
calculateLength()

Enter any sentence = This is AI class
Length of sentence is 16
Enter any sentence = We should respect our teacher
Length of sentence is 29

In [9]:
#Passing arguments to a function
def greeting(name):
  print(f"Hello {name}. Welcome to learn python.")
greeting("James")
greeting("Vandana")

Hello James. Welcome to learn python.
Hello Vandana. Welcome to learn python.

In [11]:
#Passing 3 numbers and calculating sum of 3 numbers
def total(a, b, c):
 t = a + b + c
 print(f"Total = {t}")
total(10, 20, 30)
total(-10, -10, 100)
total(50, 50, 200)

Total = 60
Total = 80
Total = 300

In [12]:
#Function with return value
def total(a, b, c):
 t = a + b + c
 return t
a = total(10, 20, 30)
print(a)
b = total(-10, -10, 100)
print(b)
print(total(50, 50, 200))

60
80
300

In [13]:
def check(n):
 if n % 2 == 0:
  return True
 else:
  return False
print(check(45))
print(check(100))
print(check(10))

False
True
True

In [15]:
# na,e parameter
def total(maths, science, computer):
  t = maths + science + computer
  print(f"Marks in Maths, Science and Computer are {maths}, \
{science} and {computer}")
  print(f"Total Marks are {t}")
total(maths=80, science=99, computer=78)
total(computer=95, science=44, maths=10)

Marks in Maths, Science and Computer are 80, 99 and 78
Total Marks are 257
Marks in Maths, Science and Computer are 10, 44 and 95
Total Marks are 149

# **Some In-Built modules in Python**

In [16]:
#importing built-in module math
import math
# using square root(sqrt) function contained
# in math module
print(math.sqrt(36))
# using pi function contained in math module
print(math.pi)
# 2 radians = 114.59 degrees
print(math.degrees(2))
# 60 degrees = 1.04 radians
print(math.radians(60))
# Sine of 2 radians
print(math.sin(2))
# Cosine of 0.5 radians
print(math.cos(0.5))
# Tangent of 0.23 radians
print(math.tan(0.23))
# 1 * 2 * 3 * 4 = 24
print(math.factorial(4))
# importing built in module random
import random
# printing random integer between 0 and 5
print(random.randint(0, 5))
# print random floating point number between 0 and 1
print(random.random())
# random number between 0 and 100
print(random.random() * 100)
List = [1, 4, True, 800, "python", 27, "hello"]
# using choice function in random module for choosing
# a random element from a set such as a list
print(random.choice(List))
# importing built in module datetime
import datetime
from datetime import date
import time

6.0
3.141592653589793
114.59155902616465
1.0471975511965976
0.9092974268256817
0.8775825618903728
0.23414336235146527
24
3
0.3512342764006413
58.562484544396874
1

# **lambda expressions**

In [22]:
# Example 1: Adding Two Numbers
add = lambda x, y: x + y
print(add(3, 4))  # Output: 7

# Example 2: Checking Even or Odd
is_even = lambda x: x % 2 == 0
print(is_even(10))  # Output: True

# Example 3: Sorting a List of Tuples
points = [(2, 3), (1, 2), (4, 1), (3, 5)]
sorted_points = sorted(points, key=lambda point: point[1])
print(sorted_points)  # Output: [(4, 1), (1, 2), (2, 3), (3, 5)]

# Example 4: Converting Celsius to Fahrenheit
c_to_f = lambda c: (c * 9/5) + 32
print(c_to_f(25))  # Output: 77.0

# Additional Example: Squaring a Number
p = lambda x: x**2
print(p(5))  # Output: 25

7
True
[(4, 1), (1, 2), (2, 3), (3, 5)]
77.0
25

# **map and filter**

In [23]:
# Example 1: Using map to Label Even Numbers
def s(n):
    if n % 2 == 0:
        return "even"

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_numbers = list(map(s, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))
print(even_numbers)  # Output: [None, 'even', None, 'even', None, 'even', None, 'even', None, 'even']

# Example 2: Using filter to Extract Even Numbers
def s(n):
    if n % 2 == 0:
        return "even"

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_numbers = list(filter(s, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))
print(even_numbers)  # Output: [2, 4, 6, 8, 10]

# Example 3: Using map to Square Numbers
square = lambda x: x**2
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(square, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

# Example 4: Using filter to Extract Numbers Greater Than 5
greater_than_five = lambda x: x > 5
numbers = [1, 2, 3, 6, 7, 8, 4, 5]
filtered_numbers = list(filter(greater_than_five, numbers))
print(filtered_numbers)  # Output: [6, 7, 8]

# Example 5: Using map and filter Together
double = lambda x: x * 2
is_even = lambda x: x % 2 == 0
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
doubled_even_numbers = list(filter(is_even, map(double, numbers)))
print(doubled_even_numbers)  # Output: [4, 8, 12, 16, 20]

[None, 'even', None, 'even', None, 'even', None, 'even', None, 'even']
[2, 4, 6, 8, 10]
[1, 4, 9, 16, 25]
[6, 7, 8]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# **Inner/ nested functions**

In [24]:
# Example 1: Simple Nested Function
def s():
    def p():
        print("hello world")
    p()

s()  # Output: hello world

# Example 2: Calculating Factorial
def factorial(n):
    def inner_factorial(x):
        if x == 0:
            return 1
        else:
            return x * inner_factorial(x - 1)
    return inner_factorial(n)

print(factorial(5))  # Output: 120

# Example 3: Greeting Message
def greet(name):
    def display_message():
        return f"Hello, {name}!"
    return display_message()

print(greet("Alice"))  # Output: Hello, Alice!

# Example 4: Power Function
def power(base):
    def exponent(exp):
        return base ** exp
    return exponent

power_of_2 = power(2)
print(power_of_2(3))  # Output: 8
print(power_of_2(4))  # Output: 16

hello world
120
Hello, Alice!
8
16

# **file handling / excaption/error handling**

In [27]:
# Using 'w' mode to create a new file
file = open("example.txt", "w")
file.write("Hello, this is a new text file created using open() function.")
file.close()
print("File 'example.txt' created successfully.")

File 'example.txt' created successfully.

In [29]:
file = open("example.txt", "r")  # Open a file for reading

In [30]:
content = file.read()  # Read the entire file

In [31]:
file = open("example.txt", "w")  # Open a file for writing
file.write("Hello, World!")

13

In [32]:
file.close()

In [33]:
# File Handling in Python

# Creating and Writing to a File
try:
    with open("example.txt", "w") as file:
        file.write("Hello, this is a new text file created using file handling in Python.\n")
        file.write("This file demonstrates various file operations.\n")
    print("File 'example.txt' created and written successfully.")
except IOError as e:
    print(f"An error occurred while creating or writing to the file: {e}")

# Reading from a File
try:
    with open("example.txt", "r") as file:
        content = file.read()
    print("File 'example.txt' read successfully. Content:")
    print(content)
except FileNotFoundError:
    print("File 'example.txt' not found.")
except IOError as e:
    print(f"An error occurred while reading the file: {e}")

# Appending to a File
try:
    with open("example.txt", "a") as file:
        file.write("Appending a new line to the existing file.\n")
    print("File 'example.txt' appended successfully.")
except IOError as e:
    print(f"An error occurred while appending to the file: {e}")

# Reading from the File Again to See Changes
try:
    with open("example.txt", "r") as file:
        content = file.read()
    print("File 'example.txt' read successfully after appending. Content:")
    print(content)
except FileNotFoundError:
    print("File 'example.txt' not found.")
except IOError as e:
    print(f"An error occurred while reading the file: {e}")

# Handling Exceptions
try:
    with open("nonexistent_file.txt", "r") as file:
        content = file.read()
except FileNotFoundError:
    print("File 'nonexistent_file.txt' not found.")
except IOError as e:
    print(f"An error occurred while handling the file: {e}")

File 'example.txt' created and written successfully.
File 'example.txt' read successfully. Content:
Hello, this is a new text file created using file handling in Python.
This file demonstrates various file operations.

File 'example.txt' appended successfully.
File 'example.txt' read successfully after appending. Content:
Hello, this is a new text file created using file handling in Python.
This file demonstrates various file operations.
Appending a new line to the existing file.

File 'nonexistent_file.txt' not found.

# **class and objects**

In [34]:
# Example 1: Simple Class with a Class Variable
class Person:
    x = 10**2

p = Person()
print(p.x)  # Output: 100

# Example 2: Class with an __init__ Method and Instance Methods
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def show(self):
        print(f"Name: {self.name}, Age: {self.age}")

p = Person("John Doe", 26)
p.show()  # Output: Name: John Doe, Age: 26
print(p.name, p.age)  # Output: John Doe 26

p1 = Person("Ashutosh", 24)
print(p1.name, p1.age)  # Output: Ashutosh 24

# Example 3: Class with a Method to Update Attributes
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def show(self):
        print(f"Name: {self.name}, Age: {self.age}")

    def update_age(self, new_age):
        self.age = new_age

p = Person("Alice", 30)
p.show()  # Output: Name: Alice, Age: 30
p.update_age(31)
p.show()  # Output: Name: Alice, Age: 31

# Example 4: Class with a Static Method
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def show(self):
        print(f"Name: {self.name}, Age: {self.age}")

    @staticmethod
    def is_adult(age):
        return age >= 18

print(Person.is_adult(20))  # Output: True
print(Person.is_adult(15))  # Output: False

# Example 5: Class with a Class Method
class Person:
    population = 0

    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.population += 1

    def show(self):
        print(f"Name: {self.name}, Age: {self.age}")

    @classmethod
    def get_population(cls):
        return cls.population

p1 = Person("John Doe", 26)
p2 = Person("Jane Doe", 28)
print(Person.get_population())  # Output: 2

100
Name: John Doe, Age: 26
John Doe 26
Ashutosh 24
Name: Alice, Age: 30
Name: Alice, Age: 31
True
False
2